.chapter-container{
    display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}
header {
  text-align: center;
  margin-bottom: 40px;
}

.waterimg {
  position: fixed;
  z-index: -1; 
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.title-box {
  display: flex;
  justify-content: center; /* Centers the title horizontally */
  align-items: center; /* Centers the title vertically */
  background-color: #e5f3fd;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #157ab1;
  border-style: ridge;
  width: 100%;
  
}

.students-container{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.students-child {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  background-color: lightgrey;
  border-radius: 10px;
  border: 1px solid black;
  border-style: ridge;
}

form{
    /* padding-top:10rem; */
    margin-top: 20px;
    
}
h1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}
.user-role {
  font-size: 20px;
  color: #666;
}
.logout-btn {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  background-color: #4c63af;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #4548a0;
}

footer {
  margin-top: 10px;
  text-align: center;
  color: #999;
  font-size: 14px;
}

.chapter-list {
  position: relative;
  max-width: 700px;
  margin: 20px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color:  #e5f3fd;
  border-radius: 8px;
  border: 5px solid #157ab1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  width: fit-content;
  height:fit-content;
  align-items: center;
}
.chapter-item {
  display: block;
  background-color: #e5f3fd;
  
  border-radius: 5px;
  border: 5px solid #157ab1;
  border-style:solid;
  padding: 1px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:100%;
}
.chapter-item:hover {
  background-color: #c4e3fc;
}

.chapter-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

h2 {
  font-size: 18px;
  margin-bottom: 2px;
}

.student-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.student-box {
  width: 100%; /* Adjust the width as needed */
  flex-shrink: 0;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.student-name {
  font-weight: bold;
  margin-bottom: 10px;
  align-self: flex-start;
}

.progress-bars {
  flex-grow: 1;
  
}
.chapter-title {
  text-align: left;
  flex-grow: 1;
  width: 10rem;
  font-size: 14px;
  margin-right: 1rem;
  white-space: nowrap; /* Prevent the title from wrapping to a new line */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Add an ellipsis (...) if the text overflows */
}

.progress-container {  
  display: flex;
  align-items: center;
  width: 100%; /* Adjust the width as desired */
  
}


progress {
  width: 100%;
  height: 20px;
  margin-top: 5px;
}



.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.login-button {
  padding: 0.5rem;
  border: none;
  background-color: #2b4aa1;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
  background-color: #365dc9;
}


