.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin-top: 10rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

button {
  padding: 0.5rem;
  border: none;
  background-color: #2b4aa1;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #365dc9;
}

.plain-link {
  color: #f2f2f2; /* sets the color of the text */
  text-decoration: none; /* removes the default underline */
  font-weight: bold; /* makes the text bold */
}

img {
  padding-top: 5rem;
}

.italic-link {
  font-style:italic; 
  color: rgb(142, 142, 142);
  text-decoration: none;
  text-align: none;
}
.italic-link:hover {
  text-decoration: underline;
}

.login-button {
  padding: 0.5rem;
  border: none;
  background-color: #2b4aa1;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
p {
  margin:0rem;
  padding:0rem;
}