/* Links.css */

.no-underline {
    text-decoration: none;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  
  .Links a {
    position: relative;
    color: #007bff;
    font-weight: bold;
  }
  
  .Links a:hover {
    text-decoration: underline;
  }
  